span, p, h1, h2, h3, h4, h5, h6, label, input {
    font-family: "SF Pro", "PingFang SC", sans-serif;
}

h1 {
    font-size: 2.2rem;
    margin-top: 0;
}

body {
    margin: 0
}

.smooth-button {
    border-radius: 10px !important;
}

.el-card {
    border-radius: 25px !important;
}

.el-card.notice {
    border-radius: 10px !important;
}

.el-input__wrapper {
    border-radius: 50px !important;
}

.el-input-group__append {
    border-radius: 0 50px 50px 0 !important;
}

.el-input-group--append > .el-input__wrapper {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.wide-input {
    width: 50% !important;
    height: 50px;
    font-size: 25px !important;
}

.wide-input > .el-input__wrapper {
    padding-left: 25px !important;
}

.horizontal-center {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.vertical-center {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%
}

.large-text {
    font-size: 32px !important;
}

.medium-text {
    font-size: 20px !important
}

.hero-text {
    font-size: 76px;
}

.text-blue {
    color: #409EFF
}

.text-black {
    color: #323232
}